@import "../../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
  mobile_s: $size__mobile_s,
  mobile: $size__mobile,
  tablet: $size__tablet,
  desktop_s: $size__desktop_s,
  desktop_l: $size__desktop_l,
);

$media-expressions: (
  'touch': '(pointer: coarse)',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
);