<IfModule mod_rewrite.c>

  RewriteEngine on

  RewriteRule ^ - [E=protossl]
  
  RewriteCond %{HTTP:X-Forwarded-Proto} https [OR]
  RewriteCond %{HTTPS} on
  RewriteRule ^ - [E=protossl:s]

  RewriteCond %{HTTP_HOST} ^monsjovis\.com [OR]
  RewriteCond %{HTTP_HOST} ^www\.monsjovis\.com
  RewriteCond %{HTTP:X-Forwarded-Proto} !^https
  RewriteCond %{HTTPS} !^on
  RewriteRule ^ https://www.monsjovis.com%{REQUEST_URI} [L,R=301]

</IfModule>