a {

  &,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $color__black;
    @include transition(color);
  }

  &:hover {
    text-decoration: none;
    color: $color__black_hover;
  }
}